$font-main: 'Varela Round', sans-serif;
$font-code: 'Source Code Pro', monospace;

$green: #30FF97;
$green-light: #D9FFD6;

$text-dark: #427259;
$text-darker: #608973;

$white: white;
$yellow: #FFFA75;
$purple: #9554FF;
$orange-light: #F7C099;

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #D9FFD6;
    font-family: $font-main;
    font-size: 16px;
    color: #427259;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.arrow {
    position: relative;
}

.arrow::after {
    border: solid transparent;
    content: " ";
    height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
    border-color: none;
    border-width: 30px;
    z-index: 1000;
}

@media screen and (min-width: 900px){
    .arrow-left-bottom-yellow::after {
        right: 100%;
    	bottom: 20%;
        border-right-color: $yellow;
    }

    .arrow-bottom-left-white::after {
        top: 100%;
    	left: 10%;
        border-top-color: $white;
    }

    .arrow-bottom-right-purple::after {
        top: 100%;
        right: 10%;
        border-top-color: $purple;
    }

    .arrow-left-bottom-green::after {
        right: 100%;
    	top: 20%;
        border-right-color: $green;
    }
}

@media screen and (max-width: 900px){
    .arrow-left-bottom-yellow::after {
        top: 100%;
        right: 50%;
        border-top-color: $yellow;
        margin-right: -30px;
    }

    .arrow-bottom-left-white::after {
        top: 100%;
        right: 50%;
        border-top-color: $white;
        margin-right: -30px;
    }

    .arrow-bottom-right-purple::after {
        top: 100%;
        right: 50%;
        border-top-color: $purple;
        margin-right: -30px;
    }

    .arrow-left-bottom-green::after {
        top: 100%;
        right: 50%;
        border-top-color: $green;
        margin-right: -30px;
    }

    #section-1 .arrow-bottom-white::after {
        top: 100%;
        right: 50%;
        border-top-color: $white;
        margin-right: -30px;
    }

    #section-1 .arrow-bottom-green::after {
        top: 100%;
        right: 50%;
        border-top-color: $green;
        margin-right: -30px;
    }
}

.bg-green {
    background: $green;
}

.bg-yellow {
    background: $yellow;
}

.bg-purple {
    background: $purple;
}

.bg-white {
    background: $white;
}

.bg-pattern {
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/geometry2.png');
}

footer {
    padding: 60px 15px;
    background: $white;
    text-align: center;
    h3 {
        a {
            font-size: 32px;
            padding: 0 10px;
            color: $green;
            &:hover {
                color: $text-darker;
            }
        }
    }
    h4 {
        margin-left: 100px;
    }
}

.contact-form {
    color: $text-dark;
    font-weight: 800;
    input {
        display: block;
        background: $yellow;
        font-family: $font-code;
        font-size: 16px;
        padding: 15px;
        width: 100%;
        margin-bottom: 15px;
        border: none;
    }
    textarea {
        display: block;
        background: $yellow;
        font-family: $font-code;
        font-size: 16px;
        padding: 15px;
        width: 100%;
        margin-bottom: 15px;
        border: none;
    }
    button {
        display: block;
        background: $green;
        font-family: $font-code;
        font-size: 16px;
        border: none;
        padding: 15px;
        width: 100%;
        border: none;
        &:hover {
            background: $text-darker;
            cursor: pointer;
        }
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-text-right {
    max-width: 400px;
    margin-right: auto;
}

.container-text-left {
    max-width: 400px;
    margin-left: auto;
}

.container-section-right {
    max-width: 800px;
    margin-right: auto;
}

.container-section-left {
    max-width: 800px;
    margin-left: auto;
}

.flex {
    display: flex;
}

.col {
    flex: 1;
}

.col-4 {
    flex: 4;
}

.col-8 {
    flex: 8;
}

@media screen and (max-width: 900px){
    .flex {
        flex-direction:column;
    }

    .order-1-sm {
        order: 1;
    }

    .order-2-sm {
        order: 2;
    }

    .container-text-right {
        max-width: 400px;
        margin: 0 auto;
    }

    .container-text-left {
        max-width: 400px;
        margin: 0 auto;
    }

    .container-section-right {
        max-width: 800px;
        margin: 0 auto;
    }

    .container-section-left {
        max-width: 800px;
        margin: 0 auto;
    }
}

.img-fluid {
    max-width: 100%;
    margin: 0 auto;

nav {
    width: 100%;
    background: white;
}

.main-nav {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.nav-logo {
    font-size: 28px;
    letter-spacing: -3px;
}

.nav-links a {
    color: $green;
    padding: 30px 20px 30px 20px;
    font-weight: 800;
    text-decoration: none;
    &:hover {
        color: $text-darker;

    }
    span {
        position: relative;
        bottom: 5px;
    }
}

.padding-sm {
    padding: 40px;
}

.padding-md {
    padding: 90px;
}

@media screen and (max-width: 900px){
    .padding-sm {
        padding: 40px 30px 40px 30px;
    }

    .padding-md {
        padding: 90px 30px 90px 30px;
    }
}

/*section one*/
#section-1 h1 {
    float: right;
    padding: 80px 40px 80px 120px;
}

/*section four*/
#section-4 h2, #section-4 p {
    text-align: center;
}

@media screen and (max-width: 1200px){
    #section-1 h1 {
        float: right;
        padding: 80px 80px 80px 120px;
    }
}

@media screen and (max-width: 900px){

    /*section one*/
    #section-1 h1 {
        float: none;
        padding: 30px;
        text-align: center;
    }

    /*section two*/
    #section-2 h2 {
        float: none;
        margin-left: 0px;
        text-align: center;
    }
}

.skill {
    height: 15px;  /* Can be anything */
	position: relative;
	background: $green-light;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 3px;
    span {
        display: block;
        height: 100%;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        background-color: $green-light;
        background: $green;
        position: relative;
        overflow: hidden;
    }
}

.tag {
    padding: 8px;
    border: 1px solid $orange-light;
    border-radius: 5px;
    text-align: center;
    margin: 15px;
}

h1 {
    font-size: 64px;
    font-weight: 300;
}

h2 {
    font-size: 48px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin: 0px;
}

b {
    font-weight: 800;
}

.text-white {
    color: $white;
}

.text-brand {
    color: $green;
}

.text-header {
    color: $text-darker;
}

.text-paragraph {
    color: $text-dark;
}

.text-orange {
    color: $orange-light;
}

.text-center {
    text-align: center;
}

.text-code {
    font-family: $font-code;
}

.code-blurb {
    align-self: flex-end;
    background: $white;
    position:relative;
    border-radius: 4px;
    padding: 20px 30px;
    width: 100%;
    max-width: 800px;

    -webkit-box-shadow: 0px 0px 30px -10px rgba(84,110,95,1);
    -moz-box-shadow: 0px 0px 30px -10px rgba(84,110,95,1);
    box-shadow: 0px 0px 30px -10px rgba(84,110,95,1);
    h3 {
        font-size: 28px;
    }
    p {
        font-size: 16px;
    }
}

.code-blurb-right {
    margin-bottom: 30px;
    margin-left: -50px;
}

@media screen and (max-width: 1200px){
    h1 {
        font-size: 38px;
        font-weight: 300;
    }

    h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 900px){
    .code-blurb {
        margin-bottom: 0;
        margin-left: 0;
        max-width: 100%;
        padding: 90px;
        position: inherit;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}


//hover card
